<div >
    <h4 jhiTranslate="timesheet.title">Timesheet</h4>
</div>

<div>
    <div style="  display: flex;
    align-items: stretch;
    align-content: space-between;">
        <div *jhiHasAnyAuthority="['ROLE_ADMIN']" >
            <label jhiTranslate="global-view.company-filter">Company</label>&nbsp;
            <select style="width: 50%;" class="form-control" (change)="onChangeCompany()" [(ngModel)]="company" >
                <option *ngFor="let company of companies" [ngValue]="company">{{company.name}}</option>&nbsp;
            </select>
        </div>
        <label jhiTranslate="global-view.customer-filter">CUSTOMER</label>&nbsp;
        <input style="width: 10%;"  type="text" class="form-control" [(ngModel)]="searchCustomer" placeholder="*">&nbsp;&nbsp;
        <label jhiTranslate="global-view.project-filter">PROJECT</label>&nbsp;
        <input style="width: 10%;"  type="text" class="form-control" [(ngModel)]="searchProject" placeholder="*">&nbsp;&nbsp;
        <label jhiTranslate="global-view.job-filter">Job</label>&nbsp;
        <input style="width: 10%;" type="text" class="form-control" [(ngModel)]="searchJob" placeholder="*">&nbsp;
     
    </div>
    <div *ngIf="employees != []" >
        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_CUSTOMER_ADMIN','ROLE_INSPECTOR']" >
            <label ><b>Employee:</b></label>
            <select style="width: 10%;" class="form-control" (change)="onChangeEmployee()" [(ngModel)]="currentEmployee" >
                <option *ngFor="let employee of employees; trackBy: trackById" [ngValue]="employee">{{employee.login}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="currentEmployee != null">
        <p> {{ currentEmployee!.login }}</p>
    </div>
</div>

<div>
    <p>{{monthName}}</p>
    <button type="button" class="btn btn-secondary btn-sm" (click)="previousMonth()">Previous Month</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="currentMonth()">Current Month</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="nextMonth()">Next Month</button>
</div>

<button type="button" class="btn btn-secondary btn-sm" (click)="makeReport()">Report</button>

<table style="border:none!" class="table table-condensed table-responsive">
    <tr>
        <th style="text-indent: 3,5em;max-width: 10%;" colspan="3">
            Context
        </th>
        <ng-container *ngFor="let item of nbrOfColumns | keyvalue  ; index as i" >
            <th style="text-align: right; padding-right: 15px; max-width: 10%;">
                {{getDay(i)}}
            </th>
        </ng-container>
    </tr>
    
    <tbody>
        <!--Customers-->
        <ng-container  *ngFor="let customer of customers | customerFilter: searchCustomer:'All'"> 
            <tr  style="border:none!important">
                <td style="max-width: 10%;border:none!important">
                    {{customer.name}}
                </td>
                <td style="border:none!important"colspan="34"></td>
            </tr>
            <!--Projects-->
            <ng-container *ngFor="let project of getProjects(customer) | projectFilter: searchProject:'All' ">
                <tr style="border:none!important">
                    <td style="border:none!important" colspan="1">
                    </td>
                    <td style="max-width: 10%; border:none!important">
                        {{project.name}}
                    </td>
                    <td style="border:none!important"colspan="34"></td>
                </tr>
                <!--Jobs-->
                <ng-container *ngFor="let job of getJobs(project)|jobFilter: searchJob: 'All'">
                    <tr style="border:none!important">
                        <td style="border:none!important" colspan="2"></td>
                        <td style="border:none!important">
                           {{job.name}}
                        </td>
                        <!--loop qui va afficher tous les 0 ou les heures. Que ddes 0 pour le moment. Faire appel d'une fonction
                        (mouseover)='over(project,job,customer,i)' (mouseout)='out()'-->
                        <ng-container *ngFor="let item of nbrOfColumns | keyvalue; index as i">
                            <td  ngbTooltip="{{over(project,job,customer,i)}}"(click)="encodeHours(project,job,customer,i)"style="border: none;cursor: pointer">{{getPerformanceHours(job,i)}}</td>
                            <!-- *ngIf="IsDisable(i);else Disable" -->
                            <!-- <ng-template  #Disable>
                                <td style="border-color: black;background-color: rgb(221, 219, 219);">{{getPerformance(job,i)}}</td>
                            </ng-template>  -->
                          
                        </ng-container>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>
    </tbody>
</table>