<div >
    <h4 jhiTranslate="global-view.companies">Company</h4>
</div>
<table class="table table-bordered table-condensed table-responsive" style="border-radius: 1%;">
    <thead>
        <th  style="width: 20%">
            <label *jhiHasAnyAuthority="['ROLE_ADMIN']"jhiTranslate="global-view.company-filter">COMPANY</label>
            <input *jhiHasAnyAuthority="['ROLE_ADMIN']" type="text" class="form-control" [(ngModel)]="searchCompany" placeholder="*">
        </th>
        <th style="width: 20%">
            <div class="input-group">
                <div class="input-group-addon"> <label jhiTranslate="global-view.customer-filter">CUSTOMER</label>
                    <input  type="text" class="form-control" [(ngModel)]="searchCustomer" placeholder="*">
                    <label >Enable?</label>
                    <select class="form-control" [(ngModel)]="searchCustomerState" >
                        <option *ngFor="let item of enabledStateList" [ngValue]="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </th>
        <th style="width: 20%" >
            <label jhiTranslate="global-view.project-filter">PROJECT</label>
            <input  type="text" class="form-control" [(ngModel)]="searchProject" placeholder="*">
            <label >Enable?</label>
            <select class="form-control" [(ngModel)]="searchProjectState" >
                <option *ngFor="let item of enabledStateList" [ngValue]="item">{{item}}</option>
            </select>
        </th>
        <th style="width: 20%" >
            <label jhiTranslate="global-view.job-filter">PROJECT</label>
            <input  type="text" class="form-control" [(ngModel)]="searchJob" placeholder="*">
            <label >Enable?</label>
            <select class="form-control" [(ngModel)]="searchJobState" >
                <option *ngFor="let item of enabledStateList" [ngValue]="item">{{item}}</option>
            </select>
        </th>
    </thead>
    <tbody style="border-radius: 1%;">
        <!-- company container-->
        <ng-container *ngFor="let company of showCompanies  | companyFilter: searchCompany ;index as companyCpt">
          
            <tr *ngIf="!companyHidden; else hiddeCompany" id="{{company.id}}"style="border: none!important;background-color: #cacaca;border-radius: 1%;"> 
                
                <td *ngIf="showCompanies && showCompanies.length>0" style="border: none!important;border-radius: 1%;">    
                    <fa-icon (click)="switchCompanyHidden()"  style="cursor: pointer" [icon]="'chevron-circle-down'" [fixedWidth]="true"></fa-icon> 
                    <a [routerLink]="['/company', company.id, 'edit']">{{ company.name }}</a>                   
                </td>
                <td colspan="4"style="border-left: none!important;border-right: none!important">
                    <a [routerLink]="['/customer/new/company', company.id]">
                        <fa-icon  style="cursor: pointer" [icon]="'plus-circle'" [fixedWidth]="true"></fa-icon>
                    </a>
                </td>
            
            </tr> 
            <ng-template  #hiddeCompany>
                <tr style="border: none!important;background-color: #cacaca;border-radius: 1%;">
                    <td style="border: none!important;">
                        <fa-icon (click)="switchCompanyHidden()" style="cursor: pointer" [icon]="'chevron-circle-up'" [fixedWidth]="true"></fa-icon> 
                        <a [routerLink]="['/company', company.id, 'edit']">{{ company.name }}</a>
                    </td>
                    <td colspan="4"style="border-left: none!important;border-right: none!important;background-color: #cacaca;border-radius: 1%;">
                    </td>
                </tr>
            </ng-template>
            <!-- customer container-->
            <ng-container  *ngFor="let customer of company.customers | customerFilter: searchCustomer: searchCustomerState">
                <!-- else hiddeCustomer -->
                <ng-container *ngIf="(!companyHidden)">

                <tr *ngIf="(!customerHidden && !companyHidden); " id="{{company.id}}"style="border: none!important;border-radius: 5% 0% 0% 5%"> 
                    <td colspan="1" style="border: none!important;"></td>
                           
                    <td style="border: none!important;background-color: #f5f5ee;border-radius: 5% 0% 0% 5%" >
                        <fa-icon (click)="switchCustomerHidden()" style="cursor: pointer" [icon]="'chevron-circle-down'" [fixedWidth]="true"></fa-icon> 
                        <a [routerLink]="['/customer', customer.id, 'edit']">{{customer.name}}</a>
                    </td>
                    <td colspan="3" style="border: none!important;background-color: #f5f5ee;;">
                        <a [routerLink]="['/project/new/customer', customer.id]">
                            <fa-icon  style="cursor: pointer" [icon]="'plus-circle'" [fixedWidth]="true"></fa-icon>
                        </a>
                    </td>
                </tr>
                    <tr *ngIf="customerHidden">
                        <td colspan="1" style="border: none!important;border-radius: 5% 0% 0% 5%;"></td>

                        <td  style="border: none!important;background-color:  #f5f5ee;">
                            <fa-icon (click)="switchCustomerHidden()" style="cursor: pointer" [icon]="'chevron-circle-up'" [fixedWidth]="true"></fa-icon> 
                            <a [routerLink]="['/customer', customer.id, 'edit']">{{customer.name}}</a>
                        </td>
                    
                        <td colspan="4" style="border: none!important;background-color:  #f5f5ee;border-radius: 5%;">
                        </td>
                    </tr>
                </ng-container>

                <!-- project container -->
                <ng-container  *ngFor=" let project of customer.projects| projectFilter: searchProject: searchProjectState">
                    <ng-container *ngIf="(!customerHidden && !companyHidden)">
                        <tr id="{{project.id}}"*ngIf=" (!customerHidden && !companyHidden && !projectHidden)"  >
                        
                            <td colspan="2" style="border: none!important;"></td>
                            <td style="border: none!important;background-color: #ecece6;border-radius: 5% 0% 0% 5%">
                                <fa-icon (click)="switchProjectHidden()" style="cursor: pointer"  [icon]="'chevron-circle-down'" [fixedWidth]="true"></fa-icon> 
                                <a [routerLink]="['/project', project.id, 'edit']">   {{project.name}}</a>
                                    
                            </td>
                            <td colspan="3" style="border: none!important;background-color: #ecece6;">
                                <a   [routerLink]="['/job/new/project', project.id]">
                                    <fa-icon  style="cursor: pointer" [icon]="'plus-circle'" [fixedWidth]="true"></fa-icon>
                                </a>
                            </td>
                        </tr>
                    
                        <!-- <ng-template #hiddeProject> -->
                            <tr *ngIf="projectHidden">
                                <td colspan="2" style="border: none!important;"></td>
                                <td style="border: none!important;background-color: #ecece6;border-radius: 5% 0% 0% 5%;" >
                                    <fa-icon (click)="switchProjectHidden()" style="cursor: pointer"  [icon]="'chevron-circle-up'" [fixedWidth]="true"></fa-icon> 
                                    <a [routerLink]="['/project', project.id, 'edit']">   {{project.name}}</a>
                                </td>
                                <td colspan="4" style="border: none!important;background-color: #ecece6;">
                                </td>
                            </tr>
                        <!-- </ng-template> -->
                        </ng-container>
                    <ng-container *ngFor=" let job of project.jobs| jobFilter: searchJob: searchJobState">

                        <tr *ngIf="!companyHidden && !customerHidden && !projectHidden"style="border-left: none!important;" >
                            <td colspan="3" style="border: none!important;"></td>
                            <td style="border: none!important;">
                                <a [routerLink]="['/job', job.id, 'edit']">   {{job.name}}</a>
                            </td>
                        </tr>
                        <!-- fin job container -->
                    </ng-container>
                    <!-- end project -->
                </ng-container>
                <!-- end customer -->
            </ng-container>
            <!-- end company -->
        </ng-container>
    </tbody>
    <tfoot>

    </tfoot>
</table>
